In [32]:
import pandas as pd

df = pd.read_csv('../data/title.akas.tsv', sep="\t", na_values="\\N", nrows=10000)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   titleId          10000 non-null  object
 1   ordering         10000 non-null  int64
 2   title            10000 non-null  object
 3   region           6555 non-null   object
 4   language         424 non-null    object
 5   types            8885 non-null   object
 6   attributes       410 non-null    object
 7   isOriginalTitle  10000 non-null  int64
dtypes: int64(2), object(6)
memory usage: 625.1+ KB

In [10]:
df.sort_values(by=['tconst'], ascending=False, inplace=True)

In [34]:
df.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita,NaN,NaN,original,NaN,1
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita,US,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0

In [25]:
df.value_counts('characters')

characters
["The Maid"]                     44
["Party Guest"]                  37
["Policeman"]                    34
["Self"]                         34
["Indian"]                       33
                                 ..
["J. Woodford - Marshal"]         1
["Jack - A Young Stowaway"]       1
["Jack - Edith's Sweetheart"]     1
["Jack - a Colonial Officer"]     1
["Irma"]                          1
Name: count, Length: 2962, dtype: int64